:root {
  // gray
  --gray-30: #f7f8fa;
  --gray-60: #f0f2f5;
  --gray-70: #f0f2f5;

  // teal
  --teal-light: #7ae3c3;
  --teal-lighter: #00a884;
  --teal: #008069;

  // green
  --green-deep: #1fa855;
  --green: #25d366;
  --green-accent: #25d366;

  // blue-sky

  --blue-sky: #93d7f5;
  --blue-sky-light: #def3fc;
  --blue: #027eb5;

 --main-background: #202c33;

  --button-primary-background: #00a884;
  --button-primary-background-hover: #2ab58d;
  --button-primary-background-active: #036c54;
  --button-primary-background-disabled: #2a3942;
}
