.container {
  display: flex;
  height: 100vh;
  color: white;
}

.leftColumn {
  width: 300px;
  padding: 16px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.rightColumn {
  flex: 1;
  padding: 16px;

}