.container {
  display: flex;
  height: 100vh;
  color: white;
}

.leftColumn {
  width: 300px;
  padding: 16px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.rightColumn {
  flex: 1;
  padding: 16px;

}

.inputArea {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(59, 74, 84, 0.3);
}

.button {

}

.chatList {
  overflow-y: auto;
}

.chatItem {
  padding: 8px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-bottom: 8px;
  cursor: pointer;

  &:hover {
    background-color: rgba(59, 74, 84, 0.3);
  }
}

.chatItem.active {
  background-color: rgba(59, 74, 84, 0.6);
}

.phoneNumber {
  font-weight: bold;
}

.lastMessage {
  font-size: 0.85rem;
  color: #888;
}

.chatWindow {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.messages {
  flex: 1 1 auto;
  overflow-y: auto;
  margin-bottom: 16px;
}

.myMessage {
  text-align: right;
  background-color: var(--green);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  max-width: 70%;
  margin-left: auto;
}

.theirMessage {
  text-align: left;
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  max-width: 70%;
}

.successMessage,
.errorMessage {
  font-size: 0.9rem;
  color: green;
}

.errorMessage {
  color: red;
}
