.myMessage {
  text-align: right;
  background-color: var(--green);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  max-width: 70%;
  margin-left: auto;
}

.theirMessage {
  text-align: left;
  background-color: var(--button-primary-background-active);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  max-width: 70%;
}