
.inputArea {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(59, 74, 84, 0.3);
}

.successMessage,
.errorMessage {
  font-size: 0.9rem;
  color: green;
}

.errorMessage {
  color: red;
}
